<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #clientPage="ngForm">
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" [(ngModel)]="clientId"
               class="form-control"
               id="login"
               name="login"
               placeholder="Enter your login"
               required #login="ngModel">
      </div>
      <div [hidden]="!login.pristine" class="alert alert-danger">Login is required</div>

      <button type="submit" [disabled]="!clientPage.form.valid"
              class="btn btn-info">Log in</button>
    </form>
  </div>
</div>
