<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">

<div class="container">
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
    <div *ngFor="let master of masters" class="col">
      <div class="card radius-15">
        <div class="card-body text-center">
          <div class="p-4 border radius-15">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="110" height="110"
                 class="rounded-circle shadow" alt="">
            <h5 class="mb-0 mt-5">{{master.firstName}} {{master.lastName}}</h5>
            <p class="mb-3"><a href="mailto:{{ master.email }}">{{ master.email }}</a></p>
            <p class="mb-3"><a> {{ master.address }}</a></p>


            <div (click)="gotoMasterPage(master.id)" class="d-grid"><a class="btn btn-outline-primary radius-15">Show
              master</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
