<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;"></a>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(favour, 'add')">Add Favour <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="gotoAddCategories()">Go back <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let favour of favours" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">

          <div class="col-6 card-title align-self-center mb-0">
            <!--            <h5>{{favour?.category?.title}}</h5>-->
            <p class="m-0">{{favour?.title}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{favour?.time}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal( favour, 'delete')" class="btn btn-light"> Delete </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Employee Modal -->
  <div class="modal fade" id="addFavourModal" tabindex="-1" role="dialog" aria-labelledby="addFavourModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addFavourModalLabel">Add Favour</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddFavour(addForm)">
            <div class="form-group">
              <label for="categoryId">Category Id</label>
              <input type="text" ngModel name="categoryId" class="form-control" id="categoryId"
                     placeholder="Category Id" required>
            </div>
            <div class="form-group">
              <label for="category">Category Title</label>
              <input type="text" ngModel name="category" class="form-control" id="category" placeholder="Category Title"
                     required>
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
            </div>
            <div class="form-group">
              <label for="time">Time</label>
              <input type="text" ngModel name="time" class="form-control" id="time" placeholder="Time" required>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-favour-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteFavourModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Favour</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete favour {{deleteFavour?.title}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteFavour(deleteFavour.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="favours?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO Favours!</h4>
    <p>No Favours were found.</p>
  </div>
</div>
