<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #masterForm="ngForm">
      <div class="form-group">
        <label for="fname">First Name</label>
        <input #firstName="ngModel" required type="text" [(ngModel)]="master.firstName"
               class="form-control"
               id="fname"
               name="fname"
               placeholder="Enter your first name">
      </div>
      <div class="alert alert-danger" [hidden]="firstName.valid || firstName.pristine">First Name is required</div>

      <div class="form-group">
        <label for="lname">Last Name</label>
        <input #lastName="ngModel" required type="text" [(ngModel)]="master.lastName"
               class="form-control"
               id="lname"
               name="lname"
               placeholder="Enter your last name">
      </div>
      <div class="alert alert-danger" [hidden]="lastName.valid || lastName.pristine">Last Name is required</div>

      <div class="form-group">
        <label for="email">Email</label>
        <input #email="ngModel" required type="text" [(ngModel)]="master.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email">
        <div class="alert alert-danger" [hidden]="email.valid || email.pristine">Email is required</div>
      </div>



      <div class="form-group">
        <label for="password">Password:</label>
        <input #password="ngModel" required type="password" [(ngModel)]="master.password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter your password">
        <div class="alert alert-danger" [hidden]="password.valid || password.pristine">Password is required</div>
      </div>

      <button type="submit" [disabled]="!masterForm.form.valid"
              class="btn btn-info"
              onclick="(document.getElementById('clientlogin').style.display='none'),
              (document.getElementById('clientregistration').style.display='none'),
              (document.getElementById('masterlogin').style.display='none'),
              (document.getElementById('masterregistration').style.display='none')"
      >Register
      </button>
    </form>
  </div>
</div>
