<nav>
  <ul class="topmenu">
    <li><a>For Master</a>
      <ul class="submenu">
        <li id="masterlogin">
          <a routerLink="masterfinder">Login</a>
        </li>

        <li id="masterregistration">
          <a routerLink="addmaster">Registration</a>
        </li>
        <!--        <li><a routerLink="masters">List of Masters</a></li>-->
        <!--        </div>-->
      </ul>
    </li>


    <li><a>For Client</a>
      <ul class="submenu">

        <li id="clientlogin">
          <a routerLink="clientfinder">Login</a>
        </li>

        <li id="clientregistration">
          <a routerLink="addclient">Registration</a>
        </li>
        <!--        <li><a routerLink="clients">List Of Clients</a></li>-->
        <!--        </div>-->
      </ul>
    </li>
  </ul>
  <router-outlet></router-outlet>
</nav>
