<nav>
  <ul class="topmenu">
    <li><a>For Master</a>
      <ul class="submenu">
        <li><a routerLink="masterfinder">Login</a></li>
        <li><a routerLink="addmaster">Registration</a></li>
        <li><a routerLink="masters">List of Masters</a></li>
      </ul>
    </li>
    <li><a>For Client</a>
      <ul class="submenu">
        <li><a routerLink="clientfinder">Login</a></li>
        <li><a routerLink="addclient">Registration</a></li>
        <li><a routerLink="clients">List Of Clients</a></li>
      </ul>
    </li>
  </ul>
  <router-outlet></router-outlet>
</nav>

